# flyctl launch added from .gitignore
**/server/target
**/server/static

**/web/node_modules
**/web/.yarn
**/web/.pnp
**/web/.pnp.js
**/web/.vscode


**/web/coverage

# production
**/web/build

# misc
**/web/.env.local
**/web/.env.development.local
**/web/.env.test.local
**/web/.env.production.local

**/web/npm-debug.log*
**/web/yarn-debug.log*
**/web/yarn-error.log*


**/.vscode
**/.env

# flyctl launch added from web/.gitignore
# Logs
web/**/logs
web/**/*.log
web/**/npm-debug.log*
web/**/yarn-debug.log*
web/**/yarn-error.log*
web/**/pnpm-debug.log*
web/**/lerna-debug.log*

web/**/node_modules
web/**/dist-ssr
web/**/*.local

# Editor directories and files
web/**/.vscode/*
!web/**/.vscode/extensions.json
web/**/.idea
web/**/.DS_Store
web/**/*.suo
web/**/*.ntvs*
web/**/*.njsproj
web/**/*.sln
web/**/*.sw?

# flyctl launch added from web/.yarn/cache/.gitignore
web/.yarn/cache/.gitignore
web/.yarn/cache/**/*.flock
web/.yarn/cache/**/*.tmp
fly.toml
