server/target

web/node_modules
web/.yarn
web/.pnp
web/.pnp.js
web/.vscode


web/coverage

# production
web/dist

# misc
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*


.vscode
.env
